/*⊹₊˚‧︵‿₊୨ᰔ୧₊‿︵‧˚₊⊹*
Todo era hermoso y nada dolía
        ⊹₊˚‧︵‿₊୨ᰔ୧₊‿︵‧˚₊⊹*/

:root {

    /*======================================
                COLOR PALETTE
    ======================================*/

    --background: #F8F8FF;
    --surface: #FFFFFF;

    --primary: #2C2C76;
    --secondary: #B0C4DE;

    --text: #13182F;
    --text-light: #667085;

    --border: #D9E3F0;

    /*======================================
                TYPOGRAPHY
    ======================================*/

    --title-font: "Yeseva One", serif;
    --body-font: "Josefin Sans", sans-serif;

    /*======================================
                SPACING
    ======================================*/

    --container-width: 1200px;

    --section-padding: 7rem;

    /*======================================
                EFFECTS
    ======================================*/

    --radius: 18px;

    --transition: .30s ease;

    --shadow:
        0 20px 60px rgba(44,44,118,.08);
    /*======================================
            FONT SCALE
    ======================================*/

    --fs-display: clamp(3.8rem, 8vw, 6rem);

    --fs-h1: clamp(2.8rem, 6vw, 4rem);

    --fs-h2: clamp(2rem, 4vw, 3rem);

    --fs-h3: 1.6rem;

    --fs-body: 1.1rem;
 
    --fs-small:.95rem;

}
*,
*::before,
*::after{

    margin:0;
    padding:0;

    box-sizing:border-box;

}
html{

    scroll-behavior:smooth;
        

}
/*======================================
            BODY
======================================*/
body{

    background:var(--background);

    color:var(--text);

    font-family:var(--body-font);

    line-height:1.7;

    overflow-x:hidden;

    min-height:100vh;

}
/*======================================
            TEXT SELECTION
======================================*/
::selection {
    background: var(--primary);
    color: var(--surface);
}
img{

    max-width:100%;

    display:block;

}
a{

    color:inherit;

    text-decoration:none;

}
ul{

    list-style:none;

}
.container{

    width:min(92%, var(--container-width));

    margin-inline:auto;

}
section{

    padding:var(--section-padding) 0;

}
.section-divider {
    margin: 1.25rem 0;

    color: var(--secondary);
    letter-spacing: 0.2em;
}
h1,h2,h3,h4{

    font-family:var(--title-font);

    font-weight:400;

}
p{

    margin-bottom:1rem;

}
.text-light{

color:var(--text-light);

}

i,
em {
    font-weight: 300;
}
